{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div>

    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Your Profile</a>

    <div class="d-flex flex-wrap justify-content-center px-5">
        {% for post in data%}
        <div class="col-sm-3 mb-3 mb-sm-0">
          <div class="card mx-2 my-2">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content | truncatewords:20}}</p>
              <p>Author {{post.author}}</p>
              <p>Category:
                {% for cate in post.category.all %}
                <button class="btn btn-primary btn-sm disabled m-1">{{cate.name}}</button>
                {% endfor %}
              </p>
              <a href="{%  url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
              <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      
</div>

{% endblock %}